body {
	padding: 0px 5px 0px 5px;
}

.tag {
	cursor: pointer;
	margin-right: 5px;
	margin-top: 10px;
	display: inline-block;
}

.tag-label {
	margin-right: 5px;
}

.filter-buttons {
	margin-bottom: 30px;
	margin-top: 30px;
}

.reset-button {
	margin-right: 5px;
}